a {
  text-decoration: none;
}

body {

}

h1, h2, h3, h4, h5, h6 {
  color: black;
}

.Footer {
  background-color: black;
  color: white;
  margin: -8px;
}

.Header {
  background-color: black;
  color: white;
  margin: -8px -8px 0 -8px;
}

.Home_Banner {
  background-image: url("/root/CraftsSMME.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Home_Funding {
  background-image: url("/root/funding.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 600px) {

  .Button {
    background-color: #F9F9E1;
    border: thin solid black;
    border-radius: 10px;
    color: black;
    margin: 10px;
    padding: 10px;
    text-align: center;
  }
  
  .Button_Small {
    background-color: #F9F9E1;
    border: thin solid black;
    border-radius: 10px;
    color: black;
    margin: 10px;
    padding: 3px;
    text-align: center;
  }
  
  .Circled_Icon {
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
  }
  
  .Footer {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .Header {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1px;
  }
  
  .Hide {
    display: none;
  }
  
  .Home {

  }

  .Home_Academy {
    margin: 0 -8px;
    padding: 90px 20px;
  }

  .Home_Banner {
    margin: 0 -8px;
    padding: 90px 20px;
  }
  
  .Home_Buttons {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }

  .Home_Directory {
    margin: 0 -8px;
    padding: 90px 20px;
  }

  .Home_Funding {
    margin: 0 -8px;
    padding: 90px 20px;
  }
  
  .Home_InvestingTerms {
    padding: 20px 0;
  }
  
  .Home_InvestTime {
    background-color: #F9F9E1;
    border: thin solid black;
    border-radius: 10px;
    margin: 10px 0;
    padding: 5px;
  }

  .Home_Investing {
    margin: 0 -8px;
    padding: 90px 20px;
  }

  .Home_Marketplace {
    margin: 0 -8px;
    padding: 90px 20px;
  }
  
  .Links {
    padding: 20px 10px;
  }
  
  .Login {
    padding: 50px;
    text-align: center;  
  }
  
  .Login_Form {
    align-items: center;
    display: flex;
    margin-top: 30px;
  }
  
  .Login_Form > input {
    height: 20px;
    margin-bottom: 20px;
  }
  
  .Logo {
    display: flex;
    justify-content: space-between;
  }
  
  .Menu_Nav_Active{
    border-bottom: 2px solid #F9F9E1;
  }
  /* Dont forget to remove the "_link" from className when understood how to find active link in a jsx page to change className in the page dynamically */
  .Menu_Nav_Link > a:active {
    color: #F9F9E1;
  }
  
  .Menu_Nav_Link {
    border-bottom: 1px solid black;
    padding: 3px 0;
  }
  
  .Mobile_Menu {
    width: 80%;
  }
  
  .Mobile_Menu_Close {
    width: 20%;
  }

  .Mobile_Menu_Visible {
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: -5px;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .Nav > a {
    color: white;
  }
  
  .Navigation {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .Navigation > .Button {
    padding: 10px 0;
  }
  
  .Navigation > div {
    margin: 2px 0;
    padding: 3px;
  }
  
  .SignUp {
    padding: 50px;
    text-align: center; 
  }
  
  .SignUp_Form {
    align-items: center;
    display: flex;
  }
  
  .SignUp_Form > input {
    height: 20px;
    margin-bottom: 20px;
  }
  
  a {
    color: black;
    font-weight: bold;
  }
  
  p {
    color: black;
    font-size: 15px;
    line-height: 5px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  
  .Navigation > div > a:active {
    color: #F9F9E1;
    text-decoration: underline;
  }

  .Navigation > div > a:hover {
    background-color: grey;
  }
  
}

@media only screen and (min-width: 993px) and (max-width: 1400px) {
  
  .Account_Overview {
    width: 30%;
  }

  .Button {
    background-color: #F9F9E1;
    border: none;
    border-radius: 3px;
    margin: 3px;
    padding: 15px;
    text-align: center;
  }

  .Button > a {
    color: black;
  }
  
  .Consumer {
    width: 70%;
  }
  
  .Dashboard {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
  }
  
  .Director {
    width: 70%;
  }

  .Footer {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .Header {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .Heading {
    text-align: center;
  }

  .Home_Academy {
    padding: 90px 20px;
  }
  
  .Home_Banner {
    padding: 90px 20px;
  }
  
  .Home_Buttons {
    display: flex;
    flex-direction: row;
  }

  .Home_Directory {
    padding: 90px 20px;
  }

  .Home_Funding {
    padding: 90px 20px;
  }

  .Home_Investing {
    padding: 90px 20px;
  }

  .Home_Marketplace {
    padding: 90px 20px;
  }
  
  .Login {
    padding: 20px;
  }

  .Logo_Image {
    width: 100px;
  }

  .Mobile_Menu_Btns {
    display: none;
  }

  .Navigation {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 10px;
  }

  .Navigation > div {
    padding-right: 10px;
  }

  .Navigation > div > a {
    color: white;
    text-decoration: none;
  }

  .Navigation > .Button {
    padding: 5px;
  }  

  .Navigation > .Button > a {
    color: black;
  }
  
  .Navigation > div > a:active {
    color: #F9F9E1;
  }
  
  .Navigation > div > a:hover {
    background-color: grey;
  }
  
  .Signup {
    padding: 20px;
  }
}
